{% extends "layout.njk" %}
{% block title %}
    Add New Car
{% endblock title %}
{% block content %}
    <h2 class="subtitle">Add New Car</h2>
    <form action="/admin/add" method="post" class="box">
           {% include "partials/car_form.njk" %}

        <input type="submit" class="button is-primary mt-4" value="Add Car">
    </form>
    <a href="/admin/dashboard">Back to Dashboard</a>
{% endblock content %}
