{% extends "layout.njk" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <h2 class="subtitle">Dashboard</h2>
    {% if message %}<div class="notification is-primary">{{ message }}</div>{% endif %}
    <a href="add" class="button is-primary mb-4">Add New Car</a>
    <h2 class="subtitle">Cars</h2>
    {% for car in cars %}
        <div data-id="{{ car.id }}" class="box has-background-white-ter">
            <p>
                <strong>Brand:</strong> {{ car.brand }}
            </p>
            <p>
                <strong>Model:</strong> {{ car.model }}
            </p>
            <p>
                <strong>Day price:</strong> {{ car.day_price }}
            </p>
            <p>
                <strong>Year:</strong> {{ car.year }}
            </p>
            <p>
                <strong>Mileage:</strong> {{ car.mileage }}
            </p>
            <p>
                <strong>Colors:</strong> {{ car.color }}
            </p>
            <p>
                <strong>Air conditioning:</strong> {{ car.air_conditioning }}
            </p>
            <p>
                <strong>Passengers:</strong> {{ car.passengers }}
            </p>
            <p>
                <strong>Transmission:</strong> {{ car.transmission }}
            </p>
            <p>
                <strong>Panoramic sunroof:</strong> {{ car.panoramic_sunroof }}
            </p>
            <div class="buttons">
                <a href="/admin/edit_car/{{ car.id }}" class="button is-warning" data-edit="{{ car.brand }}">Edit</a>
                <form action="/admin/delete/{{ car.id }}?_method=delete" method="post">
                    <input type="submit" value="Delete" class="button is-danger" data-delete="{{ car.brand }}">
                </form>
            </div>
        </div>
    {% endfor %}
    <a href="add" class="button is-primary mb-4">Add New Car</a>
{% endblock content %}
