{% extends "layout.njk" %}

{% block title %}
Edit Car
{% endblock title %}

{% block content %}
<h1>Edit Car</h1>
<form action="/admin/edit_car/{{ car.id }}?_method=patch" method="post">   
    {% include "partials/car_form.njk" %}
    
    <input type="submit" value="Save Changes" class="button is-danger mt-4">
</form>
<a href="/admin/dashboard" class="button is-primary mt-4">Back to Car List</a>
{% endblock content %}