<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="A comprehensive car rental system allowing users to browse, rent, and the admin to manage cars with ease.">
        <meta name="keywords"
              content="Car Rental, Vehicle Management, Online Booking, Car Management">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    </head>
    <body>
        <div id="top"></div>
        <section class="section">
            <div class="container">
                <nav class="navbar is-primary"
                     role="navigation"
                     aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <strong>Home</strong>
                        </a>
                        <a class="navbar-item" href="/cars">Cars</a>
                    </div>
                </nav>
                <h1 class="title has-text-primary">Car Rental</h1>
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
                <a href="#top" class="button is-info is-fixed-bottom is-size-6">
                    <span>Top</span>
                </a>
            </div>
        </section>
        <div id="bottom"></div>
    </body>
</html>
