{% extends "layout.njk" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Login</h1>
            {% if message %}<div class="notification is-danger">{{ message }}</div>{% endif %}
            <form action="/" method="post">
                <div class="field">
                    <label class="label" for="username">Username:</label>
                    <div class="control">
                        <input class="input"
                               type="text"
                               id="username"
                               name="username"
                               placeholder="admin">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">Password:</label>
                    <div class="control">
                        <input class="input"
                               type="password"
                               id="password"
                               name="password"
                               placeholder="admin">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-primary" value="Login">
                    </div>
                </div>
            </form>
            <a href="/cars" class="button is-link mt-3 ">View Cars (no login needed)</a>
        </div>
    </section>
{% endblock content %}
