{% extends "layout.njk" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title">Login</h2>
            <a href="/admin/dashboard" class="button is-primary mt-3">Login as Admin</a>
            <a href="/cars" id="view-cars-link" class="button is-link mt-3 ">View Cars</a>
        </div>
    </section>
{% endblock content %}